body,html,#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.view-container{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.avatars {
  display: inline-flex;
  padding-left:50px;
}

.avatar {
  background-color: #e2e2e2;
  margin-left: -15px;
  position: relative;
  border:1px solid #fff;
  border-radius: 50%;
  overflow:hidden;
  width:50px;
  height:50px;
  text-align: center;
}
.main-visitors-container{
  margin-right: 5%;
}

.select-status {
  padding: 10%;
  border-radius: 7px;
}
.form-container{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
  /* border: solid 0.1em #e8e8e8;
  box-shadow: 0 0 7px rgba(0,0,0,0.2); */
}
.input-wrapper{
  width: 10%;
  margin-bottom: 2%;
  padding: 1%;
  font-size: 80%;
  border: solid 0.1em #e8e8e8;
  font-family: Quicksand;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #181818;
  border-radius: 15em;
  outline: none;
  box-shadow: 0 0 7px rgba(0,0,0,0.2);
}
.button-wrapper{
  padding: 1%;
  width: 10%;
  border: none;
  border-radius: 15em;
}
.main-container{
  width: 100%;
  height: 100%;
}
